
<div class="box box-primary">
    <div class="box-body ">
        <div class="info-box">
            {% include template with { "configuration" : configuration } only %}
        </div>
    </div>
</div>


